<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Крид</title>

    <link rel="stylesheet" href="/css/style.css">

    <script src="/js/jquery.min.js"></script>
</head>
<body>
<script>
    $(function(){
        $('.take-photo').hide();

        $(".user-hashtag").keyup(function() {
            this.value = this.value.replace(/[^а-яё]/i, "");

            if(this.value.length > 0){
                $('.instructions').hide();
                $('.take-photo').show();
            }else{
                $('.instructions').show();
                $('.take-photo').hide();
            }
        });

        $(document).on('click tap','.share',function(e){
            e.preventDefault();

            $('.buttons').hide();
            $('.share-buttons').show();
        });

        $(document).on('change','#photo',function(){
            if(this.files && this.files[0]){
                var reader = new FileReader();
                var canvas = document.getElementById('preview-canvas');
                var context = canvas.getContext('2d');

                reader.readAsDataURL(this.files[0]);
                reader.onload = function(_file){
                    var image = new Image();
                    image.src = _file.target.result;
                    image.onload = function(){

                        $('.main').addClass('backed');
                        $('.preview').show();

                        var imageRatio = image.width / image.height;
                        var sourceWidth = 1334 * imageRatio;
                        var sourceHeight = 1334;

                        context.drawImage(image, -((sourceWidth - canvas.width) / 2),0,sourceWidth,sourceHeight);


                        var exampleHashTag = new Image();
                        exampleHashTag.src = '/img/example.hashtag.png';

                        var userHashTag = new Image();
                        userHashTag.src = '/img/example.hashtag.png';

                        userHashTag.onload = function(){
                            context.drawImage(userHashTag,(canvas.width - userHashTag.width) / 2,canvas.height - userHashTag.height - 25);

                            context.font = "65px pf_din_text_cond_probold";
                            context.fillStyle = '#000';
                            context.textAlign = 'center';
                            context.fillText($('.user-hashtag').val().toUpperCase(),canvas.width / 2,canvas.height - 60);
                        };

                        exampleHashTag.onload = function(){
                            context.drawImage(exampleHashTag,(canvas.width - exampleHashTag.width) / 2,canvas.height - exampleHashTag.height - 150);

                            context.font = "65px pf_din_text_cond_probold";
                            context.fillStyle = '#9e040c';
                            context.fillText("# ГотовБоротьсяЗа",(canvas.width - exampleHashTag.width) / 2 + 25,canvas.height - exampleHashTag.height - 75);

                            $('.download').attr('href',canvas.toDataURL());
                        };

                    }
                };



            }
        });
    })
</script>
<div class="main">
    <div class="copyright"></div>
    <div class="social">
        <a href="" target="_blank" class="icon youtube"></a>
        <a href="" target="_blank" class="icon vk"></a>
        <a href="" target="_blank" class="icon fb"></a>
        <a href="" target="_blank" class="icon twitter"></a>
        <a href="" target="_blank" class="icon instagram"></a>
        <a href="" target="_blank" class="icon ok"></a>
    </div>
    <div class="creators"></div>
    <div class="title"></div>
    <div class="date"></div>

    <div class="bottom">
        <div class="example-hashtag"># ГотовБоротьсяЗа</div>
        <input type="text" class="user-hashtag">
        <div class="instructions">Инструкции</div>
        <label class="take-photo">
            <span>Сделать фото +</span>
            <input id="photo" type="file" accept="image/*; capture=camera">
        </label>
        <div class="footer">
            <div class="age">16+</div>
            <ul>
                <li><a href="">Создатели</a></li>
                <li><a href="">Правила пользования</a></li>
                <li><a href="">Политика конфиденциальности</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="preview">
    <canvas width="750" height="1334" id="preview-canvas"></canvas>
    <div class="buttons">
        <a href="" class="reload"></a>
        <a href="" class="download" target="_blank" download="#ГотовБоротьсяЗа"></a>
        <a href="" class="share"></a>
    </div>
    <div class="share-buttons">
        <a href="" class="share-vk"></a>
        <a href="" class="share-fb"></a>
        <a href="" class="share-twitter"></a>
    </div>
</div>

</body>
</html>