<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Крид: Наследие Рокки – Расскажи о своем кредо</title>
    <meta name="keywords" content="кино, спорт, бокс, Рокки, Рокки Бальбоа, Крид Наследие Рокки, Крид, фильм, фильмы 2016">

    <link rel="stylesheet" href="/css/style.css">

    <script src="/js/jquery.min.js"></script>
    <script src="//vk.com/js/api/openapi.js" type="text/javascript"></script>
    <script src="/js/preloadjs-0.6.2.min.js" type="text/javascript"></script>

    <link rel="icon" type="image/png" href="favicon.png?v=a">
</head>
<body>
<script>
    window.fbAsyncInit = function() {
        FB.init({
            appId      : 1536863159967920,
            xfbml      : true,
            version    : 'v2.5'
        });
    };
    (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>
<script>
    VK.init({apiId: 5200246});
    var progress = 0;
    var files = [
        '/img/bg.png',
        '/img/bg2.png',
        '/img/button.bg.png',
        '/img/copy.png',
        '/img/creators.png',
        '/img/date.png',
        '/img/download.png',
        '/img/example.hashtag.png',
        '/img/fb.png',
        '/img/instagram.png',
        '/img/ok.png',
        '/img/reload.png',
        '/img/share.fb.png',
        '/img/share.png',
        '/img/share.twitter.png',
        '/img/share.vk.png',
        '/img/title.png',
        '/img/twitter.png',
        '/img/user.hashtag.png',
        '/img/vk.png',
        '/img/youtube.png',
        '/img/watch.png'
    ];

    var queue = new createjs.LoadQueue(true);
    queue.on('complete', function(){
        $('.overlay').hide();
    });
    queue.on('fileload',function(e){
        var step = parseInt(100 / files.length);
        progress = progress + step;
        $('.percent').html(progress + '%');
    });
    queue.loadManifest(files);

    function dataURItoBlob(dataURI) {
        var byteString = atob(dataURI.split(',')[1]);
        var ab = new ArrayBuffer(byteString.length);
        var ia = new Uint8Array(ab);
        for (var i = 0; i < byteString.length; i++) {
            ia[i] = byteString.charCodeAt(i);
        }
        return new Blob([ab], {
            type: 'image/png'
        });
    }

    $(function(){

        var postVk = function(){
            VK.Api.call('photos.getWallUploadServer',{},function(r){
                if(r.response.upload_url){
                    console.log(r);

                    var imageData   = document.getElementById('preview-canvas').toDataURL('image/png');

                    try{
                        var blob = dataURItoBlob(imageData);
                    }catch(e){
                        console.log(e);
                    }

                    var form = new FormData();
                    form.append("photo", blob);

                    try {
                        $.ajax({
                            url: '/vkPostImage?dest=' + r.response.upload_url,
                            type: "POST",
                            data: form,
                            processData: false,
                            contentType: false,
                            cache: false,
                            success:function(e){
                                console.log(e);
                            },
                            error: function(e){
                                console.log(e);
                            }
                        });
                    }catch(e){
                        console.log(e);
                    }

                }

                console.log(r);
            });



//            VK.Api.call('wall.post',{
//                'friends_only': 0,
//                'message':'#ГотовБоротьсяЗа'
//            },function(r){
//                console.log(r);
//            })
        };

        var postFb = function(){
            var imageData   = document.getElementById('preview-canvas').toDataURL('image/png');

            try{
                var blob = dataURItoBlob(imageData);
            }catch(e){
                console.log(e);
            }

            var form = new FormData();
            form.append("access_token", FB.getAccessToken());
            form.append("source", blob);
            form.append("caption", '#ГотовБоротьсяЗа #IFightFor #КридРокки');

            try{
                $.ajax({
                    url: "https://graph.facebook.com/me/photos?access_token=" + FB.getAccessToken(),
                    type: "POST",
                    data: form,
                    processData: false,
                    contentType: false,
                    cache: false,
                    success:function(e){
                        location.href = 'https://facebook.com';
                    },
                    error: function(e){
                        console.log(e);
                    }
                });
            }catch(e){
                console.log(e);
            }
        };


        $('.take-photo').hide();

        $(".user-hashtag").keyup(function() {
            this.value = this.value.replace(/[^а-яё]/i, "");

            if(this.value.length > 0){
                $('.instructions').hide();
                $('.take-photo').show();
            }else{
                $('.instructions').show();
                $('.take-photo').hide();
            }
        });

        $(document).on('click tap','.instructions',function(){
            $('.instructions-wrapper').show();
            $('.main').hide();
        });

        $(document).on('click tap','.ok',function(e){
            $('.instructions-wrapper').hide();
            $('.main').show();
        });

        $(document).on('click tap','.share',function(e){
            e.preventDefault();

            $('.buttons').hide();
            $('.share-buttons').show();
        });


        $(document).on('click tap','.share-vk',function(e){
            e.preventDefault();

            VK.Auth.getLoginStatus(function(r){
                if(r.session){
                    postVk();
                }else{
                    VK.Auth.login(function(r){
                        postVk();
                    },8196);
                }
            });
        });

        $(document).on('click tap','.share-fb',function(e){
            e.preventDefault();

            FB.getLoginStatus(function(response) {
                if (response.status === 'connected') {
                    console.log(response);

                    postFb();
                }else{
                    FB.login(function(response){
                        console.log(response);

                        postFb();
                    },{scope: 'publish_actions'});
                }
            });
        });

        $(document).on('click tap','.share-twitter',function(e){
            e.preventDefault();
            $.ajax({
                method: 'post',
                url: '/authTwitter',
                data:{
                    photo: $('.download').attr('href')
                },
                success: function(e){
                    if(e.url){
                        location.href = e.url;
                    }
                }
            })
        });

        $(document).on('change','#photo',function(){
            if(this.files && this.files[0]){
                var reader = new FileReader();
                var canvas = document.getElementById('preview-canvas');
                var context = canvas.getContext('2d');

                reader.readAsDataURL(this.files[0]);
                reader.onload = function(_file){
                    var image = new Image();
                    image.src = _file.target.result;
                    image.onload = function(){

                        $('.main').addClass('backed');
                        $('.preview').show();

                        var imageRatio = image.width / image.height;
                        var sourceWidth = 1334 * imageRatio;
                        var sourceHeight = 1334;

                        context.drawImage(image, -((sourceWidth - canvas.width) / 2),0,sourceWidth,sourceHeight);

                        var exampleHashTag = new Image();
                        exampleHashTag.src = '/img/example.hashtag.png';

                        exampleHashTag.onload = function(){
                            context.drawImage(exampleHashTag,(canvas.width - exampleHashTag.width) / 2,canvas.height - exampleHashTag.height - 150);

                            context.font = "65px pf_din_text_cond_probold";
                            context.fillStyle = '#9e040c';
                            context.fillText("# ГотовБоротьсяЗа",(canvas.width - exampleHashTag.width) / 2 + 25,canvas.height - exampleHashTag.height - 75);

                            var userHashTag = new Image();
                            userHashTag.src = '/img/example.hashtag.png';

                            userHashTag.onload = function(){
                                context.drawImage(userHashTag,(canvas.width - userHashTag.width) / 2,canvas.height - userHashTag.height - 25);

                                context.font = "65px pf_din_text_cond_probold";
                                context.fillStyle = '#000';
                                context.textAlign = 'center';
                                context.fillText($('.user-hashtag').val().toUpperCase(),canvas.width / 2,canvas.height - 60);

                                $('.download').attr('href',canvas.toDataURL());
                            };
                        };
                    }
                };
            }
        });
    })
</script>
<div class="overlay">
    <div class="percent">0%</div>
</div>
<div class="main">
    <div class="copyright"></div>
    <div class="social">
        <a href="" target="_blank" class="icon youtube"></a>
        <a href="http://vk.com/wbrussia" target="_blank" class="icon vk"></a>
        <a href="https://www.facebook.com/wbrussia?_rdr=p" target="_blank" class="icon fb"></a>
        <a href="https://twitter.com/warnerBrosRu" target="_blank" class="icon twitter"></a>
        <a href="" target="_blank" class="icon instagram"></a>
        <a href="" target="_blank" class="icon ok"></a>
    </div>
    <div class="creators"></div>
    <div class="title"></div>
    <div class="date"></div>

    <div class="bottom">
        <div class="example-hashtag"># ГотовБоротьсяЗа</div>
        <input type="text" class="user-hashtag">
        <div class="instructions">Инструкции</div>
        <label class="take-photo">
            <span>Сделать фото +</span>
            <input id="photo" type="file" accept="image/*; capture=camera">
        </label>
        <div class="footer">
            <div class="age">16+</div>
            <ul>
                <li><a href="">Создатели</a></li>
                <li><a target="_blank" href="http://www.warnerbros.com/term-use">Правила пользования</a></li>
                <li><a target="_blank" href="http://www.warnerbros.com/privacy-center-wb-privacy-policy">Политика конфиденциальности</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="preview">
    <canvas width="750" height="1334" id="preview-canvas"></canvas>
    <div class="buttons">
        <a href="" class="reload"></a>
        <a href="" class="download" target="_blank" download="#ГотовБоротьсяЗа"></a>
        <a href="" class="share"></a>
    </div>
    <div class="share-buttons">
        <a href="" data-type="vk" class="social-share share-vk"></a>
        <a href="" data-type="fb" class="social-share share-fb"></a>
        <a href="" data-type="twitter" class="social-share share-twitter"></a>
    </div>
</div>

<div class="instructions-wrapper">
    <h2>
        Инструкции
    </h2>
    <p>
        Расскажи за что ты готов бороться, добавив подпись к хэштегу <a href="">#ГотовБоротьсяЗа</a>. Загрузи фото и поделись результатом с друзьями.
    </p>
    <p>
        Разместив свою работу во ВКонтакте, ты участвуешь в розыгрыше легендарных
        часов Casio G-SHOCK.
    </p>
    <img src="/img/watch.png" class="watch">
    <p>
        Подробнее о конкурсе
        на официальной странице студии
    </p>
    <a target="_blank" class="public" href="http://vk.com/wbrussia">
        <i class="icon vk"></i>
        <span>WBRussia</span>
    </a>

    <div class="ok">
        OK
    </div>
</div>
</body>
</html>