<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Крид</title>

    <link rel="stylesheet" href="/css/style.css">

    <script src="/js/jquery.min.js"></script>
</head>
<body>
<script>
    $(function(){
        $('.take-photo').hide();

        $(".user-hashtag").keyup(function() {
            this.value = this.value.replace(/[^а-яё]/i, "");

            if(this.value.length > 0){
                $('.instructions').hide();
                $('.take-photo').show();
            }else{
                $('.instructions').show();
                $('.take-photo').hide();
            }
        })
    })
</script>
<div class="main">
    <div class="copyright"></div>
    <div class="social">
        <a href="" target="_blank" class="icon youtube"></a>
        <a href="" target="_blank" class="icon vk"></a>
        <a href="" target="_blank" class="icon fb"></a>
        <a href="" target="_blank" class="icon twitter"></a>
        <a href="" target="_blank" class="icon instagram"></a>
        <a href="" target="_blank" class="icon ok"></a>
    </div>
    <div class="creators"></div>
    <div class="title"></div>
    <div class="date"></div>

    <div class="bottom">
        <div class="example-hashtag"># ГотовБоротьсяЗа</div>
        <input type="text" class="user-hashtag">
        <div class="instructions">Инструкции</div>
        <label class="take-photo">
            <span>Сделать фото +</span>
            <input id="photo" type="file" accept="image/*;capture=camera">
        </label>
        <div class="footer">
            <div class="age">16+</div>
            <ul>
                <li><a href="">Создатели</a></li>
                <li><a href="">Правила пользования</a></li>
                <li><a href="">Политика конфиденциальности</a></li>
            </ul>
        </div>
    </div>
</div>

</body>
</html>